<!DOCTYPE HTML>

{% load static %} <!-- New line -->

<html lang="en-us">
<head>
<title> Cellyoular </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href = "{% static 'css/main.css' %}" rel='stylesheet' type ='text/css'/>

</head>

<body>

<div class='pagewrapper'>

<ul class="topnav" id="myTopnav">
  <li class='icon'><a href="#menu">&#9776;</a></li>
  <li><a href="/home">Home</a></li>
  <li><a href="#news">Sell</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

<header>
	<ul class='social'>
								<li><a href="http://twitter.com/cellyoular" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="http://facebook.com/dylankeyer" target='_blank'><i class='fa fa-facebook' aria-hidden='true'></i></a></li>
								<li><a href="http://instagram.com/cellyoular" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="mailto:cellyoular@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
	</ul>
</header>

</div>

</body>

</html>