<!DOCTYPE HTML>
<html lang="en-us">
<head>
<title> Cellyoular </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

* {
	box-sizing: border-box;
}

.col-1, .col-3 {
	width: 25%;
	float: left;
	background-color: red;
	padding: 15px;
    border: 1px solid black;
}

.col-2 {
	float: left;
	width: 50%;
	background-color: blue;
	padding: 15px;
    border: 1px solid black;
}

</style>
</head>

<body>
	<div class='col-1'> Test </div>
	<div class='col-2'> Test </div>
	<div class='col-3'> Test </div>

</body>

</html>