

{% load static %}


* {
	box-sizing: border-box;
	font-family: tahoma;
	color: white;
	margin: 0px;
	padding: 0px;
}

body, header {
	background-color: white;
}

ul.topnav {
	list-style-type: none;
	overflow: hidden;
    background-color: #333;
    opacity: 0.9;
    margin: 0px;
	padding: 0px;
	top: 0;
}

ul.topnav li {
	float: left;
	opacity: 1;
}

ul.topnav li a {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
    font-size: 18px;
    opacity: 1;
}

ul.topnav li.icon a {
	font-size: 17px;

}

ul.topnav li a:hover {
	background-color: #555;
}

ul.social li {
	list-style-type: none;
	font-size: 30px;
}

footer {
	position: fixed;
	bottom: 0;
}

